<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/car_shop</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>

        <mapping resource="ru/job4j/config/mapping/carshop/entity/Brand.hbm.xml"/>
        <mapping resource="ru/job4j/config/mapping/carshop/entity/Body.hbm.xml"/>
        <mapping resource="ru/job4j/config/mapping/carshop/entity/User.hbm.xml"/>
        <mapping resource="ru/job4j/config/mapping/carshop/entity/Axle.hbm.xml"/>
        <mapping resource="ru/job4j/config/mapping/carshop/entity/Engine.hbm.xml"/>
        <mapping resource="ru/job4j/config/mapping/carshop/entity/Gearbox.hbm.xml"/>
        <mapping resource="ru/job4j/config/mapping/carshop/entity/Car.hbm.xml"/>
    </session-factory>
</hibernate-configuration>