<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link type="text/css" rel="stylesheet" media="all" href="../../css/bootstrap.min.css"/>
        <script src="../../js/jquery-3.2.1.min.js" type="text/javascript"> </script>
        <script src="../../js/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            function changeStatus(id) {
                $.ajax('./update.do', {
                    method: 'post',
                    dataType: 'json',
                    data: {id: id}
                    }
                );
            }

            function addTask() {
                $.ajax('./add.do', {
                    method: 'post',
                    dataType:'json',
                    data: {desc: document.getElementById("tsk").value},
                    complete: function () {
                        fillData();
                    }
                });
                return false;
            }

            function fillData() {
                var stat = document.getElementById("flag");
                $("#items").hide();
                $.ajax('./items.do', {
                    method: 'get',
                    dataType: 'json',
                    data: {flag : stat.checked},
                    complete: function(data) {
                        var items = JSON.parse(data.responseText);
                        var result = "";
                        for (i = 0; i < items.length; i++) {
                            var d = new Date(items[i].created);
                            result += "<tr>";
                            result +="<td>" + items[i].id + "</td>";
                            result +="<td>" + items[i].description + "</td>";
                            result +="<td>" + d + "</td>";
                            result +="<td><input type='checkbox' ";
                            if (items[i].status !== 0) {
                                result +="checked ";
                            }
                            result += "onclick='changeStatus(" + items[i].id + ")'/></td>";
                            result += "</tr>";
                        }
                        var table = document.getElementById("items");
                        table.innerHTML = result;
                        $("#items").show();
                    }
                })
            }
            $(
                $.ajax({
                    complete: function () {
                        fillData();
                    }
                })
            );
        </script>
    </head>
<body>
    <div class="container">
        <div class="page-header">
            <h3>List of tasks.</h3>
        </div>
        <div class="row">
            <div class="col-xs-1">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#create">Создать</button>
            </div>
            <div class="col-xs-4">
                <label><input type="checkbox" id="flag" onclick="fillData()"/>Оставшиеся дела</label>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="active">
                        <th>Task Id</th>
                        <th>Description</th>
                        <th>Creation date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="items">
                </tbody>
            </table>
        </div>

        <!--Popup window. Begin.-->
        <div class="modal fade" id="create" role="dialog">
            <div class="modal-dialog">
                <form method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Create task.</h4>
                    </div>
                    <div class="modal-body">
                            <input type="text" id="tsk"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="return addTask()" data-dismiss="modal">Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!--Popu window ends-->
    </div>
</body>
</html>