<web-app>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.EchoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CrudServlet</servlet-name>
        <servlet-class>ru.job4j.crud.Users</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/try</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CrudServlet</servlet-name>
        <url-pattern>/crud</url-pattern>
    </servlet-mapping>
</web-app>