<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.EchoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CrudServlet</servlet-name>
        <servlet-class>ru.job4j.crud.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>ru.job4j.crud.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>ru.job4j.crud.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>ru.job4j.crud.DeleteUser</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CrudServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
</web-app>